name: CI Bot Test

on:
  workflow_dispatch:

jobs:
  loadtest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run CI bot spawner
        env:
          SERVER_URL: wss://qrp6ujau11f36bnm-c.uvwx.xyz:8443/5116/?a=3&b=205b4da671ce5c12&t=1772172750
          BOT_COUNT: 20
          DURATION: 60000
        run: node ciBotSpawner.js
